.deckchairs {
  padding: 76px 0 120px;
  text-align: center;
  &__header {
    font-size: 48px;
    margin: 0 0 27px;
    font-weight: bold;
    color: $sherwood-green;
  }
  &__image {
    width: 84px;
    &--container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0.5rem;
    }
  }
  &__table {
    width: 80%;
    margin: auto;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;
    transition: $mid-transition;
    padding: 1rem;
    border-radius: 8px;
    &:last-child {
      margin: 0;
    }
    &:hover {
      background-color: $harvest-gold;
      box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
      .key,
      .value {
        color: $white;
      }
    }
    .key,
    .value {
      margin: 0;
      transition: $mid-transition;
    }
    .key {
      font-size: 36px;
      margin: 0;
    }
    .value {
      font-size: 48px;
      color: $sherwood-green;
      font-weight: bold;
      margin: 0;
    }
  }
}
