.deckchairs {
  padding: 76px 0 120px;
  text-align: center;
  @include use-mobile() {
    padding: 3rem 0;
  }
  &__header {
    font-size: 48px;
    margin: 0 0 27px;
    font-weight: bold;
    color: $primary-color;
    @include use-mobile() {
      font-size: 36px;
      margin: 0 0 1rem;
    }
  }
  &__image {
    width: 84px;
    @include use-mobile() {
      width: 64px;
    }
    &--container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0.5rem;
    }
  }
  &__table {
    width: 80%;
    margin: auto;
    @include use-mobile() {
      width: 100%;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;
    transition: $mid-transition;
    padding: 1rem;
    border-radius: 8px;
    @include use-mobile() {
      padding: 0.3rem;
    }
    &:last-child {
      margin: 0;
    }
    &:hover {
      background-color: $secondary-color;
      box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
      .key,
      .value {
        color: $white;
      }
    }
    .key,
    .value {
      margin: 0;
      transition: $mid-transition;
    }
    .key {
      font-size: 36px;
      margin: 0;
      @include use-mobile() {
        font-size: 18px;
        text-align: left;
      }
    }
    .value {
      font-size: 48px;
      color: $primary-color;
      font-weight: bold;
      margin: 0;
      @include use-mobile() {
        font-size: 24px;
      }
    }
  }
}
