.footer {
  background-color: $sherwood-green;
  color: $white;
  padding: 2rem 0;
  @include use-mobile() {
    padding: 1rem 0;
  }
  &--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include use-mobile() {
      flex-direction: column-reverse;
    }
  }
  &__copyright {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    @include use-mobile() {
      font-size: 14px;
    }
  }
  &__link {
    font-size: 14px;
    color: $white;
    text-decoration: none;
    transition: $mid-transition;
    &:hover {
      color: $harvest-gold;
    }
    @include use-mobile() {
      margin-bottom: 0.5rem;
    }
  }
  .external {
    height: 27px;
    display: flex;
    align-items: center;
    &__item {
      margin-right: 29px;
      &:last-child {
        margin-right: 0;
      }
      path {
        transition: $mid-transition;
      }
      &:hover {
        path {
          fill: $harvest-gold;
        }
      }
    }
    @include use-mobile() {
      margin-bottom: 0.5rem;
    }
  }
}
