.header {
  width: 100%;
  padding: 6px 0 11px;
  position: relative;
  @include use-mobile() {
    padding: 8px 0;
  }
  &__logo {
    height: 65px;
    @include use-mobile() {
      height: 3rem;
    }
    &--container {
      display: flex;
      padding-right: 1rem;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
    @include use-mobile() {
      display: none;
    }
  }
  &__link {
    padding: 0.3rem 1rem;
  }
  &--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__tel,
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
    @include use-mobile() {
      display: none;
    }
  }
  &__info {
    padding-left: 1rem;
    .info {
      margin: 0;
    }
  }
  a {
    color: $black;
    transition: $mid-transition;
    text-decoration: none;
    &:hover {
      color: $lochinvar;
    }
  }
  .js-mobile-menu {
    display: none;
    padding: 1rem 2rem;
    width: 100vw;
    max-width: 414px;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $white;
    transform: translateY(100%);
    transition: $mid-transition;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    overflow: hidden;
    @include use-mobile() {
      display: flex;
      .header__link,
      .tel,
      .info {
        padding: 0;
        margin: 0 0 1rem;
      }
      .mobile-nav,
      .tels,
      .infos {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 2rem;
        border-bottom: 4px solid $lochinvar;
        width: 100%;
      }
    }

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
}
