.main-scene {
  overflow: hidden;
  position: relative;
  overflow: hidden;
  color: $white;
  height: calc(100vh - 82px);
  min-height: 520px;
  &--inner {
    height: calc(100vh - 82px);
    min-height: 520px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  &__video {
    width: 100%;

    &--container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      max-height: 100%;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
    max-width: 644px;
    margin: 0 0 9px;
  }

  &__description {
    font-size: 36px;
    max-width: 493px;
    padding: 0 7px;
    position: relative;

    &--text {
      margin: 0 0 34px;
      width: 100%;
      line-height: 43px;
      z-index: 1;
      position: relative;
    }

    &::before,
    &::after {
      content: '';
      width: calc(100% + 14px);
      height: 23px;
      position: absolute;
      top: 20px;
      left: -7px;
      background-color: $sherwood-green;
      z-index: 0;
    }
    &::after {
      width: 232px;
      top: 63px;
      left: -7px;
      background-color: $sherwood-green;
      z-index: 0;
    }
  }

  &__link {
    font-size: 24px;
    border: 5px solid #ffffff;
    width: 220px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $white;
    transition: $mid-transition;

    &:hover {
      background-color: $white;
      color: $sherwood-green;
      border-color: $sherwood-green;
    }
  }
}
