.rent {
  padding: 99px 0 87px;
  @include use-mobile() {
    padding: 3rem 0;
  }
  text-align: center;
  &__header {
    font-size: 48px;
    margin: 0 0 63px;
    font-weight: bold;
    color: $primary-color;
    @include use-mobile() {
      font-size: 36px;
      margin: 0 0 2rem;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include use-mobile() {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 33%;
    &:last-child {
      margin-bottom: 0;
    }
    @include use-mobile() {
      width: 100%;
      margin-bottom: 2rem;
      border: 2px solid $primary-color;
      border-radius: 4px;
      padding: 1.75rem 0 1rem;
    }
    &:hover {
      h3 {
        color: $secondary-color;
      }
      img {
        transform: rotate(-15deg);
      }
    }
  }
  &__image {
    height: 84px;
    width: 84px;
    margin-bottom: 15px;
    position: relative;
    transition: $mid-transition;
    @include use-mobile() {
      margin: 0 0 0.5rem;
      height: 64px;
      width: 64px;
    }
  }
  &__name {
    font-size: 36px;
    margin: 0 0 1rem;
    white-space: nowrap;
    transition: $mid-transition;
    @include use-mobile() {
      margin: 0 0 0.5rem;
      font-size: 26px;
    }
  }
  &__description {
    font-size: 24px;
    margin: 0 0 1rem;
    @include use-mobile() {
      margin: 0 0 0.5rem;
      font-size: 18px;
    }
  }
  &__price {
    font-size: 48px;
    color: $primary-color;
    font-weight: bold;
    margin: 0;
    @include use-mobile() {
      font-size: 36px;
    }
  }
  &.equipment-rent {
    background-color: $primary-color;
    color: $black;
    .rent__item {
      @include use-mobile() {
        border-color: $black;
      }
    }
    .rent__header {
      color: $black;
    }
    .rent__price {
      color: $white;
    }
    .rent__body {
      justify-content: space-around;
    }
  }
}
