$black: #000000;
$white: #ffffff;
$sherwood-green: #024033;
$lochinvar: #2b8f7b;
$harvest-gold: #e5af7a;
$mercury: #e5e5e5;
$font-size: 1rem;
$font-family: 'Rubick', sans-serif;
$background-color: $white;
$font-color: $black;
$mid-transition: 0.3s all;
