$black: #000000;
$white: #ffffff;
$cerulean: #00B7D6;
$bright-sun: #FFC440;
$orient: #005A87;
$mercury: #e5e5e5;
$font-size: 1rem;
$font-family: 'Rubick', sans-serif;
$background-color: $white;
$font-color: $black;
$mid-transition: 0.3s all;
$breakpoint: 1025px;

$primary-color: $cerulean;
$secondary-color: $bright-sun;
